.body{
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid black;
    width: 90%;
    height: 89%;
    position: absolute;
  }
  
  .pokedex{
    position:absolute;
    width: 700px;
    left: 0px;
    top: 50px;
    z-index: -1;
  }
  .title h1{
    position:absolute;
    left: 205px;
    font-size: 50px;
    margin-top: 5px;
  }
  
  .pokeicon{
    width: 100px;
    height: 100px;
    left: 7%;
    margin-top: -13px;
    position: absolute;
    z-index: -1;
  
  }
  
  h2{
    font-size: 50px;
  }
  .intro{
  margin-top: 40%;
  text-align: center;
  background-color: red;
  font-size: 30px;
  }
  
  .sobre{
    position: absolute;
    margin-left: 45%;
    font-size: 30px;
    font-style: italic;
  }
  
  .title{
    border: 3px solid black;   
    margin-top: -2px;
    width: 1681px;
    height: 78px;
    position:absolute;
    
  }
  
  
  
  .menu{
    top: 61px;
    padding: 22px;
    border: 3px solid black;
    position:absolute;
    width: 15vh;
    height: 737px;
    list-style: none;
    text-align: left;
  
    
  }
  a{
    margin: 1px;
    padding: 30px;
  }
  
  .iconball{
    width: 3vh;
    position:absolute;
    left: 1;
    margin-left: -2px;
    
  
  }
  
  .poke{
    top: 6vh;
    margin-left: 100vh;
    padding: 1vh;
    margin: 3vh;
    width: 87%;
    height: 720px;
    text-align: center;
    position:absolute;
    margin-left: 20vh;
  /* border: 1px solid black;*/
  
  }
  
  
  .rodape{
    position: fixed;
    margin-top: 91vh;
    margin-left: 10px;
    border: 1px solid black; 
    width: 1690px;
    text-align: center;
  }