.topo{
  background-color: black;
  grid-area: topo;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  
}

.banimg{
  width: 200px;
  height: 98px;
  z-index: -1;
}
.banimg2{
  width: 200px;
  height: 98px;
  z-index: -1;
  margin-left: 1060px;
  margin-top: -310px;
  
}


/*Area Menu*/

.menu{
  background-color:rgb(211, 211, 211);
  grid-area: menu;
  display: flex;
  list-style: none;
  margin-left: 100px;
  margin-top: -35px;
  width: 850px;
  height: 90px;
  border-radius: 15px;
}

.menu__icon:hover{
  background-color: red;
  transition: 500ms;
}

.menu__icon{
  border: 1px solid black ;
  width: 110px;
  height: 80px;
  margin-left: 70px;
  display:grid;
  border-radius: 15px;
}

ol{

  width: 110px;
  height: 80px;
  justify-items: center;
  align-items: center;
}
.icon{
  display: flex;
  width: 30px;
  height: 30px;
}
.pokeicon{
  width: 70px;
  height: 70px;
  position: relative;
  margin: -35px;
  margin-left: 40px;
}
.dex{
  width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-top: 10px;
}

/* Fim Area Menu*/






/* Area Banners */
.ban{
  /*background-color:darkgrey;*/
    grid-area: ban;
    width: 116px;
    height: 700px;
    margin-left: -1px;
    
  }
  
  .banner{
    /*background-color:darkgrey;*/
    grid-area: banner;
    width: 117px;
    height: 700px;
    margin-left: -8px;
    
  }

/* Fim Area Banners */


.conteudo{
  
  grid-area: conteudo;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  justify-content: center;

}

.ash{
  width: 300px;
  height: 300px;
  margin-top: -250px;
  margin-left: 600px;
  
}

.link{
  align-items: center;
  display: flex;
  padding: 5px;
  width: 600px;
  gap: 350px;
}

.link .lsenha{
  
  

}
.log{


}
.ltext{
  align-items: center;
  padding: 20px;
  font-size: 40px;
}

.input{
  width: 50%;
  background-color: rgb(240, 230, 230);

}

.rodape{
  background-color: red;
  grid-area: rodape;
  height: 30px;
  margin-top: -300px;
}




  /* Area Mobile*/


  @media screen and (max-width: 480px)  {
    .container{
  
      display: grid;
      grid-template-columns: (1, 200px);
      grid-template-rows:repeat(1, 40px );
      gap: 20px;
      grid-template-areas:
      "menu"
      "conteudo";
      
    }
  
    /*Area Menu*/
  
  .menu{
    background-color:rgb(211, 211, 211);
    grid-area: menu;
    display: flex;
    list-style: none;
    margin-left: -110px;
    margin-top: -40px;
    width: 300px;
    height: 50px;
    gap: 10px;
    padding: 5px;
    border-radius: 15px;
  }
  .menu p{
    display: none;
  }
  
  
  .menu__icon{
    border: 1px solid black ;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display:grid;
    border-radius: 15px;
  }
  
  
  .icon{
    display: flex;
    width: 30px;
    height: 30px;
  }
  .pokeicon{
    width: 70px;
    height: 70px;
    position: relative;
    margin: -35px;
    margin-left: 40px;
  }
  .dex{
    width: 200px;
    height: 25px;
    margin-left: 25px;
    margin-top: 10px;
    display: none;
  }
  /* Fim Area Menu*/
  
  /* Area conteudo */
  
  .conteudo{
    grid-area: conteudo;
    margin-top: -30px;
    width: 194px;
    border-radius: 15px;
    margin-left: -200px;
    display: grid;
  
  }

  .log{
    gap: 1px;
    margin-top: -450px;
    margin-left: 590px;
  
  }

  .input{
    border-radius: 10px;
  }

  
.link{
display: grid;
gap: 10px;
}

.entrar{
  margin-left: 50px;
  border-radius: 10px;
  width: 100px;
}
.ltext{
  padding: 2px;
  font-size: 20px;
  width: 10px;
}

.input{
  width: 250px;
  background-color:aliceblue;

}

.ash{
  width: 300px;
  height: 300px;
  margin-top: -250px;
  margin: -300px;
  display: none;
}




  
/* Area Banners */
.ban{
  /*background-color:darkgrey;*/
    grid-area: ban;
    width: 216px;
    height: 800px;
    margin-left: -1px;
    display: none;
  }
  
  .banner{
    /*background-color:darkgrey;*/
    grid-area: banner;
    width: 217px;
    height: 800px;
    margin-left: -8px;
    display: none;
    
  }

  .banimg{
    width: 400px;
    height: 98px;
    z-index: -1;
    display: none;
  }
  .banimg2{
    width: 400px;
    height: 98px;
    z-index: -1;
    margin-left: 840px;
    display: none;
    
  }
  

/* Fim Area Banners */

/* Area Rodape */
  .rodape{
    background-color: red;
    grid-area: rodape;
    height: 30px;
    display: none;
  }

  /* Fim Area Rodape */


  .topo{
    background-color: black;
    grid-area: topo;
    width: 100%;
    height: 110px;
    border-radius: 10px;
    display: none;
  }

}

@media screen and (min-width: 481px) and (max-width:768px ){
  .container{
  
    display: grid;
    grid-template-columns: (1, 200px);
    grid-template-rows:repeat(1, 40px );
    gap: 20px;
    grid-template-areas:
    "menu"
    "conteudo";
    
  }

  /*Area Menu*/

.menu{
  background-color:rgb(211, 211, 211);
  grid-area: menu;
  display: flex;
  list-style: none;
  margin-left: -110px;
  margin-top: -40px;
  width: 455px;
  height: 50px;
  gap: 50px;
  padding: 5px;
  border-radius: 15px;
}
.menu p{
  display: none;
}


.menu__icon{
  border: 1px solid black ;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  display:grid;
  border-radius: 15px;
}


.icon{
  display: flex;
  width: 30px;
  height: 30px;
}
.pokeicon{
  width: 70px;
  height: 70px;
  position: relative;
  margin: -35px;
  margin-left: 40px;
}
.dex{
  width: 200px;
  height: 25px;
  margin-left: 25px;
  margin-top: 10px;
  display: none;
}
/* Fim Area Menu*/

/* Area conteudo */

.conteudo{
  grid-area: conteudo;
  margin-top: -30px;
  width: 294px;
  border-radius: 15px;
  margin-left: -100px;
  display: grid;

}
.ash{
  width: 300px;
  height: 300px;
  margin-left: 700px;
  margin-top: -300px;
  display: none;
}

.log{
  gap: 1px;
  margin-top: -450px;
  margin-left: 340px;

}

.input{
  border-radius: 10px;
}


.link{
display: grid;
gap: 10px;
}

.entrar{
margin-left: 50px;
border-radius: 10px;
width: 100px;
}
.ltext{
padding: 2px;
font-size: 20px;
width: 10px;
}

.input{
width: 250px;
background-color:aliceblue;

}






/* Area Banners */
.ban{
/*background-color:darkgrey;*/
  grid-area: ban;
  width: 216px;
  height: 800px;
  margin-left: -1px;
  display: none;
}

.banner{
  /*background-color:darkgrey;*/
  grid-area: banner;
  width: 217px;
  height: 800px;
  margin-left: -8px;
  display: none;
  
}

.banimg{
  width: 400px;
  height: 98px;
  z-index: -1;
  display: none;
}
.banimg2{
  width: 400px;
  height: 98px;
  z-index: -1;
  margin-left: 840px;
  display: none;
  
}


/* Fim Area Banners */

/* Area Rodape */
.rodape{
  background-color: red;
  grid-area: rodape;
  height: 30px;
  display: none;
}

/* Fim Area Rodape */


.topo{
  background-color: black;
  grid-area: topo;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  display: none;
}

}

@media screen and (min-width: 481px) and (max-width:768px ){
  
}