.container {
    display: grid;
    grid-template-rows: 100px 600px 100px 100px;
    grid-template-columns: 250px 1fr 50px 100px;
    grid-template-areas:
      "cab cab cab cab"
      "nav cont cont cont"
      "nav cont cont cont"
      "nav cont cont cont";
}
  
.cab {
    border-bottom: 1px solid black;
    grid-area: cab;
}
  
.nav {
    border-right: 1px solid black;
    grid-area: nav;
}
  
.cont {
    grid-area: cont;
}
  
 .rod {
    background-color: rgb(255, 0, 0);
    grid-area: rod;
}
 

.titleText{
    margin-top: 20px;
    position: absolute;
    left: 90px;
    font-size: 40px;
}

.intro{
    text-align: center;
    font-size: 30px;
}

.title{ 
    margin-top: -2px;
    width: 1681px;
    height: 78px;
    position: absolute;    
}

.pokeicon{
    width: 100px;
    height: 100px;
    margin-top: -5px;
    position: absolute;
    z-index: -1;
}

.iconball{
    width: 3vh;
    position:absolute;
    left: 1;
    margin-left: -2px;
}

a{
    margin: 1px;
    padding: 30px;
}

.menu{
    padding: 25px;
    list-style: none
}

.sobre{
    margin-left: 45%;
    font-size: 30px;
    font-style: italic;
}
  
.pokedex{
    position: absolute;
    width: 700px;
    left: 300px;
}

.categoria{
    position: absolute;    
    left: 300px;
    font-size: 30px;
}

.bul{
    position: absolute;
    width: 350px;
    height: 250px;
    margin-top: 10vh;
}
  
.bult{
    position: absolute;
    width: 350px;
    height: 250px;
    margin-top: 40vh;
    font-size: 30px;
  
}
  
.mew{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 450px;
    margin-top: 30vh;
  
}

.mewt{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 450px;
    margin-top: 10vh;
    font-size: 30px;
}
  
.jir{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 950px;
    margin-top: 10vh;
}
  
.jirt{ 
    position: absolute;
    width: 350px;
    height: 250px;
    left: 950px;
    margin-top: 40vh;
    font-size: 30px;
}